body {
  font-family: 'Montserrat', sans-serif;
  color: rgb(150, 150, 150);
  font-size: 1em;
}

.img-profile{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
h1{
  letter-spacing: 8px;
  color: #718bff;
  font-size: 2em ;
}

h2 {
  color: #718bff;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 8px;
}

p{
  font-size: 1em;
  font-weight: 500;
}

.container{
  width: 800px;
  margin: 0 auto;
}
.card{
  padding: 50px 50px;
  box-shadow: 0px 10px 30px #b1bfff;
  border-radius: 12px;
  margin: 20px 0px;
  text-align: center;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.img-rounded {
  border-radius: 50%;
}

.text-center {
  text-align: center;

}

#social-media a{
  font-size: 50px;
}

#skills-media li i {
  color: #718bff;
  font-size: 50px;
}


a:link {
  color: #718bff;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #718bff;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: rgb(150, 150, 150);
  text-decoration: underline;
}

/* selected link */
a:active {
  color: rgb(150, 150, 150);
  text-decoration: underline;
}

button{
  background-color: #718bff ;
  padding: 10px 25px;
  color: white;
  font-size: 20px;
  border-radius: 5px ;
  border-style: none;
}

button:hover{
  background-color: white;
  color: #718bff;
  /* border: 1px solid #718bff; */
  border-style: none;
  box-shadow: 0px 10px 30px #b1bfff;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 800px;
  }
}

@media (max-width: 900px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 600px;
  }
}

@media (max-width: 660px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 380px;
  }
  h1, h2{
    letter-spacing: 5px;
  }

}
