@import url(css/cards.css);
@import url(css/buttons.css);
@import url(css/hamburger.css);
@import url(css/nav.css);

body{
  color: white;
  background-color: rgb(253, 169, 138);
  font-family: 'Press Start 2P', cursive;
}

.section{
  min-height: 50vh;
}

.profile-pic{
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
}
